<label> Server Name </label>

<p> Event binding Way </p>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">

<p> Two Way Binding using FormsModule</p>

<input type="text" class="form-control" [(ngModel)]="serverName">

<br />
<p> {{serverName}}</p>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"> Add new Server </button>
<p [innerText]="serverCreationStatus"></p>
<div class="app-server"></div>
<div class="app-name-creator"></div>